<ion-view title="About PSD2" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="aboutPSD22-markdown2" style="color:#000000;" class=" ">The Directive on Payment Services (PSD) provides the legal foundation for the creation of an EU-wide single market for payments. The PSD aims at establishing a modern and comprehensive set of rules applicable to all payment services in the European
            Union. The target is to make cross-border payments as easy, efficient and secure as ’national’ payments within a Member State. The PSD also seeks to improve competition by opening up payment markets to new entrants, thus fostering greater
            efficiency and cost-reduction. At the same time the Directive provides the necessary legal platform for the Single Euro Payments Area (SEPA).</p>
        <p id="aboutPSD22-markdown3" style="color:#000000;" class=" ">
            <strong>What this means to customers?</strong>
            <a href="http://ec.europa.eu/finance/payments/docs/framework/psd_consumers/psd_en.pdf">link</a>.</p>
        <p id="aboutPSD22-markdown4" style="color:#000000;" class=" ">
            <strong>Impact to United Kingdom</strong>
            <a href="http://ec.europa.eu/finance/payments/docs/framework/transposition/united_kingdom_en.pdf">link</a>
        </p>
    </ion-content>
</ion-view>